<h1>Listing tenants</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Accounting key</th>
    <th>Metadata</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tenants.each do |tenant| %>
  <tr>
    <td><%= tenant.name %></td>
    <td><%= tenant.title %></td>
    <td><%= tenant.accounting_key %></td>
    <td><%= tenant.metadata %></td>
    <td><%= link_to 'Show', tenant %></td>
    <td><%= link_to 'Edit', edit_tenant_path(tenant) %></td>
    <td><%= link_to 'Destroy', tenant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tenant', new_tenant_path %>
