<ul id="main">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Events', root_path %></li>
  <li><%= link_to 'People', root_path %></li>
  <li><%= link_to 'Privacy', root_path %></li>
</ul>
<ul id="feed">
  <li class="current_page_item"><%= link_to 'My Account', account_url %></li>
  <li><%= link_to 'Logout', logout_path %></li>
</ul>
