<ul id="main">
  <li class="current_page_item"><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'About', root_path %></li>
  <li><%= link_to 'Events', root_path %></li>
  <li><%= link_to 'People', root_path %></li>
  <li><%= link_to 'Image Gallery', root_path %></li>
  <li><%= link_to 'Membership', root_path %></li>
  <li><%= link_to 'Privacy Statement', root_path %></li>
</ul>
<ul id="registration">
  <li><%= link_to 'Register', new_account_path %></li>
  <li><%= link_to 'Login', new_user_path %></li>
</ul>
