<ul id="main">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Events', root_path %></li>
  <li><%= link_to 'People', root_path %></li>
  <li><%= link_to 'Privacy', root_path %></li>
</ul>
<ul id="feed">
  <li class="current_page_item"><%= link_to 'Register', new_account_path %></li>
  <li><%= link_to 'Login', new_user_session_path %></li>
</ul>
