<div id="page">
  <div id="content">
     OTHER STUFF GOES HERE
  </div>
  <div class="sidebar">
    <p>
      <b>Fname:</b>
      <%= @user.fname %>
    </p>

    <p>
      <b>Lname:</b>
      <%= @user.lname %>
    </p>

    <p>
      <b>Email:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>Membership identifier:</b>
      <%= @user.membership_identifier %>
    </p>

    <p>
      <b>Crypted password:</b>
      <%= @user.crypted_password %>
    </p>
  </div>
  <div style="clear: both;">&nbsp;</div>
</div>