<!-- start page -->
<div id="page">

  <!-- start content -->
  <div id="content">
    <%= render 'common/chapter_main' %>
    <%= render 'common/dealership_main' %>
  </div>
  <!-- start sidebar 1 -->
  <div id="sidebar1" class="sidebar">
  <ul>
    <li>
      <%= render 'common/primary_officers' %>
    </li>
    <li>
    </li>
    <li>
      <h2>Road Captains</h2>
      <ul>
        <li><%= link_to "[Road Captain 1]", root_path %></li>
        <li><%= link_to "[Road Captain 2]", root_path %></li>
        <li><%= link_to "[Road Captain 3]", root_path %></li>
        <li><%= link_to "[Road Captain 4]", root_path %></li>
        <li><%= link_to "[Road Captain 5]", root_path %></li>
        <li><%= link_to "[Road Captain 6]", root_path %></li>
        <li><%= link_to "[Road Captain 7]", root_path %></li>
        <li><%= link_to "[Road Captain 8]", root_path %></li>
      </ul>
    </li>
    <li>
      <h2>Ladies of Harley</h2>
      <ul>
        <li><%= link_to "[About]", root_path %></li>
        <li><%= link_to "[Activities]", root_path %></li>
        <li><%= link_to "[Joining]", root_path %></li>
        <li><%= link_to "[Blog]", root_path %></li>
      </ul>
    </li>
  </ul>
</div>
<!----------------------------------------------------------------------------->

<!----------------------------------------------------------------------------->
  <!-- start sidebar 2 -->
  <div id="sidebar2" class="sidebar">
    <ul>
      <li>
        <h2>Search</h2
        <!-- search form -->
        <%= render "common/search_form" %>
      </li>
      <!-- calendar small -->
      <li>
        <h2>Calendar</h2>
        <%= render "common/calendar_small" %>
      </li>
      <li>
      </li>
      <li>
        <h2>Ride Planning</h2>
        <ul>
          <li><%= link_to "Maps", root_path %></li>
          <li><%= link_to "Weather", root_path %></li>
          <li><%= link_to "Lodging", root_path %></li>
          <li><%= link_to "Fuel", root_path %></li>
        </ul>
      </li>
    </ul>
  </div>
<!----------------------------------------------------------------------------->

<div style="clear: both;">&nbsp;</div>
</div>
