<h2>Discretionary Officers</h2>
<ul>
  <li><%= link_to "[Activities]", root_path %></li>
  <li><%= link_to "[Membership]", root_path %></li>
  <li><%= link_to "[Safety]", root_path %></li>
  <li><%= link_to "[Photographer]", root_path %></li>
  <li><%= link_to "[Historian]", root_path %></li>
  <li><%= link_to "[Editor]", root_path %></li>
  <li><%= link_to "[Webmaster]", root_path %></li>
</ul>
