<div id="calendar_wrap">
  <table summary="Calendar">
  <caption><%= link_to get_todays_month_name_and_year, root_path%></caption

    <thead>
      <tr>
        <th abbr="Sunday" scope="col" title="Sunday">S</th>
        <th abbr="Monday" scope="col" title="Monday">M</th>
        <th abbr="Tuesday" scope="col" title="Tuesday">T</th>
        <th abbr="Wednesday" scope="col" title="Wednesday">W</th>
        <th abbr="Thursday" scope="col" title="Thursday">T</th>
        <th abbr="Friday" scope="col" title="Friday">F</th>
        <th abbr="Saturday" scope="col" title="Saturday">S</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <td abbr="September" colspan="3" id="prev">
            <%= link_to "&laquo;".html_safe, root_path%>&nbsp;
            <%= link_to get_prev_months_name, root_path%>
        </td>
        <td class="pad">&nbsp;</td>
        <td colspan="3" id="next">
          <%= link_to get_next_months_name, root_path%>&nbsp;
          <%= link_to "&raquo;".html_safe, root_path%>
        </td>
      </tr>
    </tfoot>

    <tbody>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td id="today">4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>
      <tr>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        <td>13</td>
        <td>14</td>
      </tr>
      <tr>
        <td>15</td>
        <td>16</td>
        <td>17</td>
        <td>18</td>
        <td>19</td>
        <td>20</td>
        <td>21</td>
      </tr>
      <tr>
        <td>22</td>
        <td>23</td>
        <td>24</td>
        <td>25</td>
        <td>26</td>
        <td>27</td>
        <td>28</td>
      </tr>
      <tr>
        <td>29</td>
        <td>30</td>
        <td>31</td>
        <td class="pad" colspan="4">&nbsp;</td>
      </tr>

    </tbody>

  </table>

</div>